In [2]:
import pandas as pd
temp_data = pd.read_csv("min_temp.csv")

# Load timeseries data

In [6]:
temp_data.Date = pd.to_datetime(temp_data.Date, format='%d/%m/%y')
temp_data.set_index('Date', inplace=True)

In [10]:
temp_data.head()

            Daily_min
Date
1981-01-01       20.7
1981-01-02       17.9
1981-01-03       18.8
1981-01-04       14.6
1981-01-05       15.8

- Resampling
- Selecting and slicing
- Null values