In [2]:
import pymongo

# MongoDB

Start mongodb:

`mongod --dbpath C:/...`

In [7]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
mydb = myclient['example_database']
print(myclient.list_database_names())

['admin', 'config', 'local', 'test']

In [15]:
mycollection = mydb['example_collction']
mydb.list_collection_names()

[]

## Create

In [16]:
example_customer_data = {'name': 'John Doe', 'address': '123 elm street', 'age': 28}

# insert one
results = mycollection.insert_one(example_customer_data)
results
results.inserted_id

In [21]:
customer_2 = {'name': 'Jane Doe', 'address': '234 elm street', 'age': 7}
customer_3 = {'name': 'Santa Claus', 'address': 'The North Pole', 'age': 547}
customer_4 = {'name': 'John Doe jr.', 'address': '', 'age': 0.5}

list_of_customers = [customer_2, customer_3, customer_4]

# insert many
results_2 = mycollection.insert_many(list_of_customers)
results_2.inserted_ids

[ObjectId('5d2fce4af9858f2c652e4faf'),
 ObjectId('5d2fce4af9858f2c652e4fb0'),
 ObjectId('5d2fce4af9858f2c652e4fb1')]

## Read

In [23]:
query_1 = mycollection.find({})
for x in query_1:
    print(x)

{'_id': ObjectId('5d2fcddaf9858f2c652e4fae'), 'name': 'John Doe', 'address': '123 elm street', 'age': 28}
{'_id': ObjectId('5d2fce4af9858f2c652e4faf'), 'name': 'Jane Doe', 'address': '234 elm street', 'age': 7}
{'_id': ObjectId('5d2fce4af9858f2c652e4fb0'), 'name': 'Santa Claus', 'address': 'The North Pole', 'age': 547}
{'_id': ObjectId('5d2fce4af9858f2c652e4fb1'), 'name': 'John Doe jr.', 'address': '', 'age': 0.5}

In [24]:
# include fields
query_2 = mycollection.find({}, {'_id': 1, 'name': 1, 'address': 1})
for item in query_2:
    print(item)

{'_id': ObjectId('5d2fcddaf9858f2c652e4fae'), 'name': 'John Doe', 'address': '123 elm street'}
{'_id': ObjectId('5d2fce4af9858f2c652e4faf'), 'name': 'Jane Doe', 'address': '234 elm street'}
{'_id': ObjectId('5d2fce4af9858f2c652e4fb0'), 'name': 'Santa Claus', 'address': 'The North Pole'}
{'_id': ObjectId('5d2fce4af9858f2c652e4fb1'), 'name': 'John Doe jr.', 'address': ''}

In [26]:
# exclude fields
query_3 = mycollection.find({}, {'age': 0})
for item in query_3:
    print(item)

{'_id': ObjectId('5d2fcddaf9858f2c652e4fae'), 'name': 'John Doe', 'address': '123 elm street'}
{'_id': ObjectId('5d2fce4af9858f2c652e4faf'), 'name': 'Jane Doe', 'address': '234 elm street'}
{'_id': ObjectId('5d2fce4af9858f2c652e4fb0'), 'name': 'Santa Claus', 'address': 'The North Pole'}
{'_id': ObjectId('5d2fce4af9858f2c652e4fb1'), 'name': 'John Doe jr.', 'address': ''}

In [28]:
# filtering (also regular expressions)
query_5 = mycollection.find({"age": {"$gt": 20}})
for item in query_5:
    print(item)

{'_id': ObjectId('5d2fcddaf9858f2c652e4fae'), 'name': 'John Doe', 'address': '123 elm street', 'age': 28}
{'_id': ObjectId('5d2fce4af9858f2c652e4fb0'), 'name': 'Santa Claus', 'address': 'The North Pole', 'age': 547}

## Update

In [29]:
record_to_update = {'name' : 'John Doe'}
update_1 = {'$set': {'age': 29}}
update_2 = {'$set': {'birthday': '02/20/1986'}}

mycollection.update_one(record_to_update, update_1)
mycollection.update_one(record_to_update, update_2)
query_6 = mycollection.find({'name': 'John Doe'})
for item in query_6:
    print(item)

{'_id': ObjectId('5d2fcddaf9858f2c652e4fae'), 'name': 'John Doe', 'address': '123 elm street', 'age': 29, 'birthday': '02/20/1986'}

## Delete

In [30]:
deletion_2 = mycollection.delete_one({'age': {'$lt': 10}})
print(deletion_2.deleted_count)

# mycollection.delete_many({}) # Like DROP TABLE

1