# SQLite Datatypes
- TEXT
- INTEGER
- REAL (double precision / 15 chars long)
- BLOB

# DB Connection / Run SQL

In [12]:
import sqlite3
import pandas as pd
connection = sqlite3.connect('pet_database.db')
cursor = connection.cursor()
#cursor.execute('''
#    CREATE TABLE cats (
#        id INTEGER PRIMARY KEY,
#        name TEXT,
#        age INTEGER
#    );
#    ''')
display(cursor.execute('''SELECT * FROM sqlite_master WHERE type='table';''').fetchall())
#cursor.execute('''ALTER TABLE cats ADD COLUMN breed TEXT;''')
# cursor.execute('''DROP TABLE cats;'''

cursor.execute('''DELETE FROM cats;''')

# CRUD
cursor.execute('''INSERT INTO cats (name, age, breed) VALUES ('Maru', 3, 'Scottish Fold');''')

file = open('01_insert_cats_into_cats_table.sql', 'r')
sql = file.read()
cursor.executescript(sql)
file.close()

cursor.execute('''UPDATE cats SET name = "Hana" WHERE name = "Hannah";''')

display(cursor.execute('''SELECT name FROM cats;''').fetchall())

# display in dataframe
def sql_select_to_df(SQL_COMMAND, cur=cursor):
    results = cur.execute(SQL_COMMAND).fetchall()
    df = pd.DataFrame(results)
    df.columns = [i[0] for i in cur.description]
    return df
df = sql_select_to_df('''SELECT * FROM cats WHERE name NOT IN ("Maru", "Hana");''')
display(df.head())

connection.close()

[('table',
  'cats',
  'cats',
  2,
  'CREATE TABLE cats (\n        id INTEGER PRIMARY KEY,\n        name TEXT,\n        age INTEGER\n    , breed TEXT)')]

[('Maru',), ("Lil\\' Bub",), ('Hana',)]

   id       name  age               breed
0   2  Lil\' Bub    5  American Shorthair