# Combining Dataframes

In [5]:
import pandas as pd

data = [['Bart', 15], ['Lisa', 10]]
df1 = pd.DataFrame(data, columns = ['Name', 'Age'])
data = [['Marge', 40], ['Homer', 45]]
df2 = pd.DataFrame(data, columns = ['Name', 'Age'])

pd.concat([df1, df2])

    Name  Age
0   Bart   15
1   Lisa   10
0  Marge   40
1  Homer   45

# Types of joins
- Inner Join
- Left Join
- Right Join
- Outer Join

In [11]:
joined_df = df1.join(df2, how='inner', lsuffix = '_left', rsuffix = '_right')
joined_df

  Name_left  Age_left Name_right  Age_right
0      Bart        15      Marge         40
1      Lisa        10      Homer         45